body{
  color: rgb(139, 82, 82);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #c9bebe;
  
}
header {
  background-color:#c7adad;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container{
  /* background-color: pink; */
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  align-items: center;
}

.info{
  /* background-color: red; */
  padding: 10px;
}
.icon img{
  border-radius: 50%;
  border-width: 0;
}
.info h1{
  font-weight: 525;
  font-size: 50px;
  margin: 0;
}
h2{
  font-size: 40px;
  text-align: center;
  font-weight: 525;
  padding: 5px;
}
p{
  text-align: center;
  font-size: 35px;
}
a{
  color: rgb(143, 121, 94);
  font-size: 35px;
}

h1{
  font-weight: normal;
}

section{
  margin-top: 20px;
  margin-right: 400px;
  margin-left: 400px;
  padding: 15px;
  border: solid 4px rgb(139, 82, 82);

}
section h1{
  font-size: 40px;
}


footer{
  color: #e4d6d6;
}
